/*
    colors:
    3D4F5D: mørk
    EAEBED: lys
    A3BAC3: lys grå
    CA895F: kontrast 1
    A15E49: kontrast 2
 */

:root {
    background-color: #EAEBED;
    color: #EAEBED;
    font-family: "Linux Libertine Display", Georgia, serif;
}

body {
    min-height: 100%;
}

article {
    border: 1px solid #A3BAC3;
    padding: 2em;
    box-shadow: darkgrey 0.2em 0.2em;
    background-color: #3d4f5d;
}

article ~ article {
    margin-top: 2em;
}

h1 {
    font-size: 2em;
}

a {
    color: #CA895F;
}

a:not(.internal-link)::after {
    content: " (→)";
}

a:hover {
    color: #A15E49;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul li {
    padding-block: 0.3em;
}

header, footer {
    background-color: #CA895F;
    max-width: 100%;
    padding: 1em;
    max-height: 3em;
}

header > h1 {
    margin: 0 auto;
    text-transform: uppercase;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

figure {
    width: 100%;
    margin-inline: 0;
}

figure > figcaption {
    text-align: center;
    font-size: 0.8em;
}

@media(width > 40em) {
    figure {
        position: relative;
        margin-left: 2em;
        margin-top: 0;
        top: 0;
        right: 0;
        width: 12em;
        float: right;
    }

    #container {
        padding: 2rem;
        width: 70%;
    }
}

figure img {
    width: 100%;
    background-color: #EAEBED;
    border-radius: 6em;
}

figure img:hover {
    transform: scaleX(-1);
}

#container {
    padding: 1em;
    margin: auto;
    gap: 1rem;
}

section > ul {
    list-style: circle;
}

article ~ hr {
    margin-block: 3rem;
}

footer {
    position: static;
    left: 0;
    bottom: 0;
}

nav {
    position: sticky;
}

main article h2, .code-style {
    font-family: Monaco, monospace;
}